body {
    background-color: rgb(244, 204, 103);
    color: rgb(143, 103, 4);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid rgb(223, 164, 27);

}